body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.middle {
    text-align: center;
    vertical-align: middle;
}

div.left-border {
    border-left: 1px solid #dddddd;
}

.header {
    padding: 5px;
    
}

.main-title {
    padding-left: 20px;
}

.left {
    text-align: left;
}

