body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.middle {
    text-align: center;
    vertical-align: middle;
}

div.left-border {
    border-left: 1px solid #dddddd;
}

div.right-border {
    border-right: 1px solid #dddddd;
}
.header {
    padding: 5px;
    
}

.main-title {
    padding-left: 20px;
}

.left {
    text-align: left;
}

.form-group > label {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 0.9em;
    white-space: nowrap;
}

form {
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 3px 3px;
    box-shadow: 1px 1px 3px rgba(188,188,188,0.5);
}

.field-validation-error {
    color: #ff0000;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 0.9em;
}

.italic {
    font-style: italic;
}

.label-required {
    color: #ff0000;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}

.user-menu {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.user-menu > li {
    padding-bottom: 7px;
}

.user-menu > li > div {
    padding: 2px 5px;
}

div.hoverable:hover {
    background-color: #ff0000;
}