@{
    ViewBag.Title = "Вход";
}

<div class="col-md-8 middle">
    <div id="accordion" class="left">
        <h3>
            Кто мы такие?
        </h3>
        <div>
            <p>
                Интеллектуальные вечеринки для всех желающих - каждые понедельник и среду в
                BBQ Grill&Bar Ижевск, Зенитная, 4.
            </p>
            <p>
                Мы играем в самую интересную интеллектуальную игру на свете – "60 секунд". Мы собираемся с коллегами, друзьями и родными, чтобы хорошо провести время за игрой и вкусным ужином.
                "60 секунд" – это самая популярная интеллектуальная игра последних лет. Она похожа на известную телепередачу, которую вы могли видеть по Первому каналу. За игровым столом шесть знатоков, которые должны ровно за одну минуту ответить на вопрос ведущего. Только, в отличие от телеверсии, в нашей игре принимает участие сразу несколько команд знатоков, и соревнуются они не с телезрителями, а между собой.
            </p>
        </div>
        <h3>
            Где и когда проходят игры?
        </h3>
        <div>
            <p>
                Мы играем каждую неделю, по понедельникам и средам в BBQ Bar&Grill, Ижевск, Зенитная, 4
                Новички играют по понедельникам.
            </p>
        </div>
    </div>
</div>
<div class="col-md-4 middle left-border">
    @Html.BeginForm()
    {
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion();
    });
</script>